 @import url("https://dhruvesh-component-library.netlify.app/style.css"); 
 .App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

/*nav*/
.Nav-Container
{
  
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px;
    max-width: 100%;
    left: 0 !important;
    right: 0 !important;
    align-items: center;
    height:2rem;
    border-bottom:10px solid var(--primary-button-color);
  }

  .nav-link
  {
   border-radius: 0.2rem;
    margin: 1rem;
    color: var(--primary-font-color);
  }
  .Navigation-header
{
    color:Black;
    padding-left:0.5rem;
    padding-top:0.7rem;
    font-size: 2rem;
    font-style: bold;

}
.badge-color
{
  background-color:grey;
  color:white;
}


.color-link
{
    color: black;
}
.grey-text
{
  color:grey;
}

.links {
  position: relative;
  top:18px;
}
.fixed {
  position: fixed;
  z-index:2;
  top: 0;
}

.text-decoration-none {
  text-decoration: none;
}



.items-align
{
  display:flex;
  justify-content: flex-end;
}
/*badge*/
.badge-align {
  top: 0;
  left: 32px;
}

.wishlist-height {
  height: 2rem;
}

.cart,
.heart {
  padding-top: 0.4rem;
  width: 3rem;
  border: none;
  position: relative;
}
/*nav close*/
/*
Buttons
*/
.icon-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 4rem;
  right: 2rem;
}

.remove_button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.price {
  margin: 2rem;
  font: outline;
  font-size: large;
}

.img {
  height: 18vh;
  width: 10rem;
  padding-top: 4rem;
}

/*Cards*/
.cred-card{
  border: 1px solid white;
  height: 20rem;
  width: 16rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  position: relative;
}

.credentials-page
{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

.credential_elements
{
  border: none;
  border-bottom:2px solid grey;
  margin: 1rem;
}


.loader
{
  position:relative;
  right:25rem;
  bottom:25rem;
}

.items-container
{
  max-width:900px;
  margin:auto;
}

.Products-alignment
{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
/*sidenav-start*/


.side-nav-container
{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-start;

}

.side-nav
{
   flex-direction: column;
   min-width: 15rem;
   overflow-y:auto;
    overflow-x: auto;
   border: 2px solid rgba(128, 128, 128, 0.596);
  padding: 1rem 1rem ;
}**/


/**.main-section{
  position:relative;
  margin-left:13rem;
  margin-bottom:8rem;
}**/
.grd-container
{
  display:grid;
  grid-template-columns: auto auto auto auto;
  justify-content:space-evenly;
}
.mrgn-t
{
  margin-top: 0rem;
}

.filter-title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}



.pd2-l-r {
  padding: 0 2rem;
}

.filter{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top:4rem;
}

.vertical-card {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
} 
.box-shadow
{
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.555);
}
.pd1 {
  padding: 1rem;
} 
.mg1-b{
  margin-bottom: 1rem;
}

/*Side nav close*/
.cart-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: inherit;
  justify-content: center;
}

.card-align
{
  position:relative;
  bottom:22rem;
}


.wishlist-card
{
  display:flex;
  align-items: center;
  justify-content:space-between;

}

.decrease-quantity
{
  position: absolute;
  bottom:2px;
}

.heading 
{
  position: relative;
  top:0px;
} 
.Card_Height
{
  width:15rem;
  height:20rem;
}



.badge-color {
  color: black;
  background-color: white;
}


.heading {
  position: absolute;
  top: 0px;
}



/*search bar*/
.Search-bar
{
  margin-top: 1rem;
  padding:0.5rem 2rem;
}




  